.calculator-section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-content{
    box-shadow: 0px -1px 26px 1px rgba(0,0,0,0.61);
    -webkit-box-shadow: 0px -1px 26px 1px rgba(0,0,0,0.61);
    -moz-box-shadow: 0px -1px 26px 1px rgba(0,0,0,0.61);
    background-color: #1f1e1e;
    width:280px;
    height: 570px;
    border-radius: 40px;
    outline: 3px solid rgb(151, 145, 184);
    border: 8px solid #000000;
}
.top-section{
    position: relative;
    height: 118px;
}

.top-time{
    position: absolute;
    margin-left: 30px;
    margin-top: 7px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e1e1e1;
    font-size: 13px;

}

.top-nav{
    position: absolute;
    right: 18px;
    top: 7px;
    display: flex;
    align-items: center;
}

.top-notch{
    width: 110px;
    height: 25px;
    background-color: #000000;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; 
}

/* cal functions */
.calc-function{
    padding: 0px;
}

.answer-section{
    padding: 0 15px;
}
.calc-answer{
    text-align: end;
    vertical-align: text-bottom;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    width: 100%;
    /* height: 200px; */
    font-weight: 100;
    background: none;
    outline: none;
    border: none;
    color: #fff;   
}

.calc-answer2{
    text-align: end;
    vertical-align: text-bottom;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    width: 100%;
    /* height: 200px; */
    font-weight: 100;
    background: none;
    outline: none;
    border: none;
    color: #fff; 
}


.number-section{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    grid-row-gap: 10px;
}

.number-section-bottom{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}


.number-section div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.number-section-bottom div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.button-style{
    width: 20px;
    height: 20px;
    padding: 25px;
    border-radius: 40px;
}

.button-style2{
    width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    padding: 25px 25px 25px 20px;
    border-radius: 40px;
}

.light-grey-bg{
    background-color: #3d3d3d;
    color: hsl(0, 0%, 91%);
}
.grey-bg{
    background-color: #a0a0a0;
    color: #000;
}

.orange-bg{
    background-color:rgba(242,155,6,255);
    color: #e7e7e7;
}
.bottom-line-section{
    display: flex;
    justify-content: center;
}

.bottom-line{
    width: 90px;
    border-radius: 3px;
    height: 3px;
    background-color: #f6f6f6;
    margin-top: 30px;
}

.backward-img{
    width: 28px;
}
.zero-style div{
    display: flex;
    justify-content: left;
}

.number-section div div:hover, .number-section-bottom div div:hover{
    /* box-shadow: inset 0 0 5px #ffffff; */
    opacity: 0.7;
}